<form action="/novoCliente" method="post">


    <label for="nome">Nome:</label>
    <input type="text" name="nome" placeholder="Informe seu nome" />
    <br>
    <br>

    <label for="nascimento">Nascimento:</label>
    <input type="text" name="nascimento" placeholder="Informe seu nascimento" />
    <br>
    <br>

    <label for="email">E-mail:</label>
    <input type="text" name="email" placeholder="Informe seu e-mail" />
    <br>
    <br>

    <label for="telefone">Telefone:</label>
    <input type="text" name="telefone" placeholder="Informe seu telefone" />
    <br>
    <br>

    <label for="telefone">CPF:</label>
    <input type="text" name="cpf" placeholder="Informe seu CPF" />
    <br>
    <br>

    <label for="senha">Senha:</label>
    <input type="text" name="senha" placeholder="Insira uma senha" />
    <br>
    <br>


    <input type="submit" />

</form>