
{{!-- LOGIN PACIENTE - JOSE --}}
<form action="/cliente" method="post">
  Login:<input type="text" name="cpf" />

  <input type="submit" value="Ver" />
</form>
{{!-- LOGIN PACIENTE - JOSE --}}

{{!-- CADASTRAR PACIENTE - JOSE --}}
<a href="/cadastrar">Cadastre-se aqui!</a>
{{!-- CADASTRAR PACIENTE - JOSE --}}